# üìä Analise e Clusteriza√ß√£o de clientes

**Feito por:** Gabriel Paschoal Motta;<br>
**Data:** Setembro 2025;<br>
**Objetivo:** Analisar todas as informa√ß√µes extraidas dos clientes de uma empresa, descobrir os clientes principais e todas as caracteristicas do mesmos, desenvolver um modelo de Cluster para melhor visualiza√ß√£o dos *clientes alvo*.

---

### üéØ __Meta analisando a base de dados__:

- Descobrir qual o cliente alvo;
- Qual a condi√ß√£o financeira do cliente alvo;
- Descobrir mais sobre ele para com que se possa informar ao setor de marketing e planejar uma estrat√©gia de acordo.

Com base no que foi pedido, `vamos come√ßar os processos`.

___

#### üíø __1. Importando bibliotecas principais e os dados__

Para o trabalho de analise requisitado sera, inicialmente, necessario algumas bibliotecas chave. Alem disso, tambem precisaremos importar a base de dados, um arquivo em .csv para nosso script Python.

- Pandas: Para trabalhar como banco de dados, importar e exportar;
- Numpy: Para trabalhar com fun√ß√µes matematicas (arrays e matrizes) e computa√ß√£o cient√≠fica;
- Matplotlib: Para fazer a plotagem dos gr√°ficos;
- Seaborn: Para criar visualiza√ß√µes de dados estat√≠sticos.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configura√ß√£o de visualiza√ß√£o
plt.style.use('seaborn-v0_8')
sns.set_palette('deep')

# Ignorar warnings
import warnings
warnings.filterwarnings('ignore')

Com as bibliotecas importadas e configura√ß√µes de visualiza√ß√£o ajustadas, vamos importar e base de dados e imprimir alguns dados alem de analisarmos j√° algumas informa√ß√µes!

In [6]:
db = pd.read_csv(r"C:\Users\Gabriel\Portifolio\Projetos - Python\Projeto 1 - Clusterizacao de clientes\Dados\segmentation data.csv")

db.head()

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,0,67,2,124670,1,2
1,100000002,1,1,22,1,150773,1,2
2,100000003,0,0,49,1,89210,0,0
3,100000004,0,0,45,1,171565,1,1
4,100000005,0,0,53,1,149031,1,1

In [7]:
db.describe()

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
count,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000
mean,1.000010e+08,0.457000,0.496500,35.909000,1.03800,120954.419000,0.810500,0.739000
std,5.774946e+02,0.498272,0.500113,11.719402,0.59978,38108.824679,0.638587,0.812533
min,1.000000e+08,0.000000,0.000000,18.000000,0.00000,35832.000000,0.000000,0.000000
25%,1.000005e+08,0.000000,0.000000,27.000000,1.00000,97663.250000,0.000000,0.000000
50%,1.000010e+08,0.000000,0.000000,33.000000,1.00000,115548.500000,1.000000,1.000000
75%,1.000015e+08,1.000000,1.000000,42.000000,1.00000,138072.250000,1.000000,1.000000
max,1.000020e+08,1.000000,1.000000,76.000000,3.00000,309364.000000,2.000000,2.000000

In [8]:
db.notna().sum()

ID                 2000
Sex                2000
Marital status     2000
Age                2000
Education          2000
Income             2000
Occupation         2000
Settlement size    2000
dtype: int64

__Resumo 1¬∫ t√≥pico:__

Bibliotecas importadas, base de dados importada, imprimido os primeiros itens, analisado as variaveis e os registros do DB(database). 
Tambem j√° sabemos algumas informa√ß√µes dos dados inseridos, categorias dos dados que preenchem cada coluna, algumas medias, maximos e minimos e afins.
Por ultimo temos a informa√ß√£o de que, nesta base de dados, n√£o existem valores nulos, assim dispensando tratamento referentes a isso. Alem disso tambem
notamos que s√≥ temos variaveis numericas o que tambem facilita a analise, dispensando tratamento com one-hot-encoding.
___

#### üß≠ __2. Tratando e preparando dados__

Inicialmente, removeremos as colunas n√£o uteis para a analise, aqui sera somente a coluna "ID".

In [13]:
db = db.drop('ID')
db.columns()

KeyError: "['ID'] not found in axis"